@import './Variables.scss';

.basic-scores{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 120px);
	margin-top: 10px;
	gap: 10px;
}
.basic-scores__ability-scores{
	grid-column: 1 / span 2;
	grid-row: 1 / span 5;
	background-color: $secondary-red;
}
.basic-scores__armor-class{
	grid-column: 3 / span 3;
	grid-row: 1 / span 3;
}
.basic-scores__saving-throws{
	grid-column: 3 / span 3;
	grid-row: 4 / span 3;
}
.basic-scores__hit-points{
	grid-column: 6 / span 1;
	grid-row: 1 / span 4;
}
.basic-scores__perception{
	grid-column: 6 / span 1;
	grid-row: 5 / span 2;
}
.basic-scores__class-dc{
	grid-column: 1 / span 2;
	grid-row: 6 / span 1;
}