@font-face {
    font-family: Taroca;
    src: local('Taroca'), url(./fonts/Taroca.ttf)
}

@font-face {
    font-family: Tauri;
    src: local('Tauri'), url(./fonts/Tauri.ttf)
}

@mixin Tauri {
    font-family: Tauri;
}

@mixin Taroca {
    font-family: Taroca;
}

$red:#5E0000;
$blue:rgb(21, 28, 90);
$secondary-red:#98513D;
$grey:#DADADA;
$gold:rgb(165, 149, 104);