.App {
	background-image: url('./wood.jpg') !important;
	border-radius: 0px !important;
}
.row{
	padding:0px !important
}
.app-grid {
	background-color: #FFFFFF99 !important;
	border-radius: 10px !important;
	margin: 5px 5px 5px 5px !important;
	padding: 10px 10px 15px 10px !important;
	box-shadow: inset 0px 0px 15px 10px #00000033 !important;
}
.app-grid-header {
	background-color: #FFFFFFAA;
	margin: 10px 10px 5px 10px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px #000000;
	transition: box-shadow 0.3s;
}
.app-grid-header:hover{
	box-shadow: 0px 0px 5px #000000;
}
.custom-segment
{
	box-shadow: 0px 0px 10px #000000 !important;
	transition: box-shadow 0.3s;
}
.custom-segment:hover
{
	box-shadow: 0px 0px 5px #000000 !important;
}
.container-segment
{
	padding-top: 0px !important;
}
.segment-inline
{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	border: none !important;
	box-shadow: none !important;
	align-items: center !important;
}

.armorClass-background{
	position: absolute;
	left: -120px;
	top: -50px;
	width: 150px;
	height: auto;
}
.armorClass-value{
	position: absolute;
	left: -90px;
	top: 25px;
}

.armorClass-calc
{
	padding-top: 0px !important;
	margin-top: 0px !important;
	margin-left: 100px !important;
}
.armorClass-circular
{
	border: solid black 5px !important;
	margin-left: 50px !important;
	width: 110px;
	height: 110px;
}
.armorClass-shield
{
	align-self: center;
	flex:1;
	border: solid black 5px !important;
	border-radius: 50rem !important;
	padding: 20px 0px 15px 0px !important;
	
}
.armorClass-prof
{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.armorProf-segment {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	box-shadow: none !important;
}
.armorProf-segment-group {
	padding: 5px !important;
	margin: 0 !important;
	border: none !important;
	box-shadow: none !important;
}
.armorClass-shield-container
{
	display: flex !important;
	justify-items: center;
	align-items: center;
	flex-direction: column;
}

.no-radius-field > * { border-radius: 0 !important;}

.no-padding > * { padding: 0 !important;}
.score-padding {
	padding: 0 !important;
	margin-bottom: 2px;
}
.modifier-padding { 
	padding: 0px 0px 5px 0px !important;
	margin-bottom: 17px !important;
}
.modifier-padding > p { 
    padding-top: 10px !important;
    padding-bottom: 10px !important;
	background-color: #0000000F !important;
}
.input-center > input { 
	margin-bottom: 10px !important;
	margin-inline-start: 20px !important;
	margin-inline-end: 20px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	border: 0 !important;
	background-color: #0000000F !important;
	text-align: center !important;
}

.proficency{
	padding: 20px 0px !important;
}
.proficency-label{
	padding: 9px 0px !important;
	flex: 1;
	justify-self: stretch;
}
@font-face {
	font-family: Taroca;
	src: local('Taroca'), url(./fonts/Taroca.ttf)
}
.taroca {
	font-family: Taroca !important;
}

.hp-padding { 
	padding-inline: 9 !important;
 }

@font-face {
	font-family: Tauri;
	src: local('Tauri'), url(./fonts/Tauri.ttf)
}
.tauri {font-family: Tauri !important;}

@media only screen and (max-width: 1600px)
{
	.ac-Cont{
		display: flex;
		justify-content: center;
	}
	.armorClass-background{
		position: relative;
		left: 0;
		top: 0;
		width: 50px;
		height: 80px;
	}
	.armorClass-value{
		position: relative;
		left: 0;
		top:0;
	}
	.armorClass-circular
	{
		border: solid black 5px !important;
		width: 100px;
		height: 100px;
		padding: 10px 15px 10px 15px !important;
	}
	.armorClass-calc
	{
		padding-top: 0px !important;
		margin-top: 0px !important;
		margin-left: 0px !important;
	}
	.armorClass-shield
	{
		align-self: center;
		flex:1;
		border: solid black 5px !important;
		border-radius: 50rem !important;
		padding: 10px 2px 7px 2px !important;
		width: 50px !important;
		height: 50px !important;
		
	}
}